
    body{
        overflow-x: hidden;
     
     }
 
     .nav-item{
         padding-right:70px;
         position:relative;
        
     }


.mail{
    width:70px;
}

.imususimobile{
    width:200px;
}



.buttbutt{
    border: 1px solid black;
    border-radius:40px;
    height:48px;
    background-color: white;
    transition: 0.4s ease-in-out;
    color:black;
}

.buttbutt a{
    text-decoration:none;
    color:black;
}
.buttbutt p{
    
    font-family:'Raleway';
    font-size:16px;
    letter-spacing:2px;
    padding:10px;
}

.buttbutt:hover{
    box-shadow:5px 5px rgb(173,83,137);
    
}



.whitetext{
    opacity:0;
}


.imsusi{
    width:500px;
    margin-top:200px;
    margin-left:-20px;
}


.linkedin{
    width:70px;
}

.behance{
    width:70px;
}

.medium{
    width:70px;
}

.footer-copyright{
    
    color:grey;
}

.nav-item{
    padding-right:70px;
}

.page-footer{
    background-color: #E9ECEF;
    padding:50px;
    margin-top:100px;
}



.footertxt{
    color:Grey;
}

     .masthead-brand{
        margin-right:780px;
        flex-wrap: nowrap;
        font-family:'Raleway','Lato','Helvetica';
        font-size:20px;
        margin-top:10px;
        font-weight:bold;
        margin-left:100px;

    }
    
    .masthead-brand a{
        color:black;
        text-decoration:none;
        font-weight:bold;
    }

    .masthead-brand a:hover{
        color:black;
        text-decoration:none;
    }
 /*shadows*/
 
     .card-img-top {
         border-radius: 25%, 0, 25%, 0;
         box-shadow: 5px 15px 15px 5px #F1F1F1;
     }
 
     .card-body {
        box-shadow: 5px 15px 15px 5px #F1F1F1;
     }
 
     .btn {
         box-shadow:3px 2px 2px 3px grey;
         margin-left:40px;
         margin-bottom: 40px;
         color:white;
         background-color:black;
     }
 
 /*fonts*/
 
     .col-sm-3{
         font-family:'Lato','Helvetica';
     }
 
     h1{
         font-family:'Lato','Helvetica';
         font-weight:bold;
     }
 
     .text{
         font-size:24px;
         margin:40px;
         text-align: left;
         font-family:'Lato','Jost','Helvetica';
         font-weight:lighter;
     }
 
     .work {
         font-family:'Lato','Jost','Helvetica';
         font-weight:lighter;
         color:#cccccc;
         margin-left:40px;
         margin-top:40px;
     }
 
     .recent {
        font-family:'Lato','Jost','Helvetica';
         font-weight:lighter;
         color:#cccccc;
         margin-left:40px;
         margin-top:40px;
     }
     
     
  
 
    
 
 
     .btn {
         font-family:'lato','helvetica';
        
     }
 
     .p2t {
         padding:40px;
     }
 
     .card-text{
         font-family:'Lato','Jost','Helvetica';
 
     }
     .card-title{
         font-family:'Lato','Jost','Helvetica';
 
     }
     
 
     
 
 
 /*bg*/
     .jumbotron{
        background:white;
        height:320px;
        margin-top:120px;
     }
 
     .p1t{
         font-family:'Lato','Jost','Helvetica';
         font-size:16px;   
         margin-left:40px;
         padding-top:100px;
     }
 
     .p3t {
        font-family:'Lato','Jost','Helvetica';
         font-size:16px;   
         margin-left:40px;
         padding-top:40px;
         padding-left:40px;
     }
     
     .container1{
         background-color:#F8F5E2;
         height:510px;
         margin-top:100px;
         margin-left:-15px;
         margin-right:-15px;
     }
 
     .container2{
        background: rgb(241,145,246);
        background: linear-gradient(90deg, rgba(241,145,246,1) 0%, rgba(0,212,255,1) 100%);
        color:black;
         height:350px;
         margin-top:100px;
        margin-left:-50px;
        margin-right:-40px;
        padding-top:40px;
        padding-left:10px;
        padding-right:20px;
        padding-bottom:40px;
     }
 
 
     .container3{
       background:#529369;
        color:black;
         height:500px;
         margin-top:340px;
        margin-left:-50px;
        margin-right:-40px;
        padding-top:40px;
        padding-left:10px;
        padding-right:20px;
        padding-bottom:40px;
     } 
 /*image*/
     .susi{
         width:200px;
       
     }



   
    
     .diction{
         width:500px;
         float:right;
       
     }
 
     .nos{
         width:500px;
     }
 
     .nosgif{
         width:280px;
     }
 
    .tiffinphone{
        width:70px;
        border-radius:5% ;
        margin-left:-160px;
        margin-top:110px;
    }
 
    .tiffin{
        margin-top:-50px;
    }
    
    .featuredd{
        text-decoration:none;
        color:black;
    }
    .featuredd:hover{
     text-decoration:none;
     color:black;
     opacity:0.2;
 }

    .outline{
        z-index: 2;
        margin-top:200px;
        
    }
    
 
 
     .featured{
         padding-left:40px;
         padding-right:40px;
     }


	.about{
		position: relative;
	
        width: 100%;
        color:black;
        margin-top:100px;
        line-height: 1.5;
        font-family:'Raleway','Lato','Helvetica';
        font-size:16px;
      
    }
   
    
    .hi{
        font-family:'Raleway','Lato','HELVETICA';
        color:rgb(173,83,137);
        font-weight:400;
        font-size:20px;
        transition: 0.5s ease-in-out;
        margin-top:200px;
       
    }

    .hi:hover{
        font-size:30px;
    }

    .im{
        
        font-weight:lighter;
        font-family: sybarite, serif,'Baskerville';
        font-style: italic;
        font-weight: 400;
        transition: 1s ease-in-out;

    }
    .im:hover{
        
        font-weight:lighter;
        font-family: sybarite, serif,'Baskerville';
        font-style: italic;
        font-weight: 400;
        font-size:50px;
      

    }

    .based{
     
        font-family: sybarite, serif,'Baskerville';
        font-style: italic;
        font-weight: 400;
        font-weight:lighter;
    }


   .based:hover{
       font-style:50px;
   }


nav a{
    transition: 0.4s ease-in-out
}
nav a:hover{
    font-size:18px;
    
}

    /*shadows*/

    .card-img-top {
        border-radius: 25%, 0, 25%, 0;
        box-shadow: 5px 15px 15px 5px #F1F1F1;
    }

    .card-body {
       box-shadow: 5px 15px 15px 5px #F1F1F1;
    }

    .btn {
        box-shadow:3px 2px 2px 3px #8aaedb;
        margin-left:40px;
        margin-bottom: 40px;
        color:white;
        background-color:#8aaedb;
    }

/*fonts*/

    .card-text {
        font-family:'Lato','Jost','Helvetica';
    }

    .card-title {
        font-family:'Lato','Jost','Helvetica';
    }

    .col-sm-3{
        font-family:'Lato','Helvetica';
    }

    h1{
        font-family:'Lato','Helvetica';
        font-weight:bold;
    }

    .text{
        font-size:24px;
        margin:40px;
        text-align: left;
        font-family:'Lato','Jost','Helvetica';
        font-weight:lighter;
    }

    .work {
        font-family:'Lato','Jost','Helvetica';
        font-weight:lighter;
        color:#cccccc;
        margin-left:40px;
        margin-top:40px;
    }

    .recent {
       font-family:'Lato','Jost','Helvetica';
        font-weight:lighter;
        color:#cccccc;
        margin-left:40px;
        margin-top:40px;
    }
    
   



    .morew{
        padding-left:40px;
        padding-top:100px;
        font-family:'Lato','Jost','Helvetica';
        color:grey;
    }


   


    .btn {
        font-family:'lato','helvetica';
       
    }

    .p2t {
        padding:40px;
        font-family:'Lato','Jost','Helvetica';
        font-size:16px;   
        margin-left:40px;
        padding-top:80px;
    }

    


/*bg*/
    .jumbotron{
       background:white;
       height:320px;
       margin-top:120px;
    }

    .p1t{
        font-family:'Lato','Jost','Helvetica';
        font-size:16px;   
        margin-left:40px;
        padding-top:100px;
    }

    .p3t {
       font-family:'Lato','Jost','Helvetica';
        font-size:16px;   
        margin-left:40px;
        padding-top:40px;
        padding-left:40px;
    }
    
    .container1{
        background-color:#F8F5E2;
        height:510px;
        margin-top:200px;
        margin-left:-15px;
        margin-right:-15px;
    }

    .container2{
       background: rgb(241,145,246);
       background: linear-gradient(90deg, rgba(241,145,246,1) 0%, rgba(0,212,255,1) 100%);
       color:black;
        height:510px;
        margin-top:100px;
       margin-left:-50px;
       margin-right:-40px;
       padding-top:40px;
       padding-left:10px;
       padding-right:20px;
       padding-bottom:40px;
    }


    .container3{
      background:#529369;
       color:black;
        height:510px;
        margin-top:340px;
       margin-left:-50px;
       margin-right:-40px;
       padding-top:40px;
       padding-left:10px;
       padding-right:20px;
       padding-bottom:40px;
    } 
/*image*/
    .susi{
        width:200px;
    }

    .diction{
        width:500px;
        float:right;
      
    }

    .nos{
        width:500px;
        padding-top:100px;
    }

    .nosgif{
        width:280px;
        padding-top:100px;
    }

   .tiffinphone{
       width:70px;
       border-radius:5% ;
       margin-left:-160px;
       margin-top:110px;
   }

   .tiffin{
       margin-top:-50px;
   }

   .workheader{
       opacity:0.2;
       float:right;
   }

   .morepic{
       width:200px;
       margin-left:-30px;  
       border-radius:5%;
   }

   .morepic:hover{
       opacity:0.2;

   }

   .borapic{
       width:190px;  
       border-radius:5%;
       margin-left:-15px;
   }

   .borapic:hover{
       opacity:0.2;

   }
   .londonpic{
       width:190px;  
       border-radius:5%;
       margin-left:-5px;
   }

   .londonpic:hover{
       opacity:0.2;

   }

   .netflix{
       width:190px;  
       border-radius:5%;
       margin-left:5px;
   }

   .netflix:hover{
       opacity:0.2;

   }

   .adventure{
       width:180px;
       height:108px;
       border-radius:5%;
       margin-left:15px;
   }

   .adventure:hover{
       opacity:0.2;

   }

   .skyscanner{
       width:180px;
       height:108px;
       border-radius:5%;
       margin-left:15px;
   }

   .skyscanner:hover{
       opacity:0.2;

   }

  

 

   /*image on mobile version*/
   .tiffinmobile{
       width:300px;
       height:180px;
       margin-top:-20px;
   }

   .tiffinmobile2{
       width:45px;
       height:100px;
       margin-top:25px;
       margin-left:20px;
   }

   .mobiledw{
       width:500px;
       float:right;
  
   }

   .nosmobilegif{
       width:400px;
       margin-top:100px;
       float:left;
       margin-left:60px;
       
   }

   .nosmobilegify {
       width:400px;
       margin-top:100px;
       float:left;
       margin-left:60px;
       
   }

   .nosmobilegifyy {
       width:400px;
       margin-top:100px;
       float:left;
       margin-left:60px;
       
   }

   .morepics{
       width:100px;
       margin-left:-30px;  
       border-radius:5%;
   }

   .borapics{
       width:90px;  
       border-radius:5%;
       margin-left:-15px;
   }


   .londonpics{
       width:90px;  
       border-radius:5%;
       margin-left:-5px;
   }


   .netflixs{
       width:90px;  
       border-radius:5%;
       margin-left:5px;
   }



   .adventures{
       width:80px;
       height:50px;
       border-radius:5%;
       margin-left:15px;
   }

  
   

   .skyscanners{
       width:80px;
       height:50px;
       border-radius:5%;
       margin-left:15px;
   }



   /*links*/

   .noslink{
       color:black;
       text-decoration:none;
   }

   .noslink:hover{
       color:black;
       text-decoration:none;
   }
   .dwlink{
       color:black;
       text-decoration:none;
   }

   .dwlink:hover{
       color:black;
       text-decoration:none;
   }

   .tiffinlink{
       color:black;
       text-decoration:none;
   }

   .tiffinlink:hover{
       color:black;
       text-decoration:none;
   }
  




    /* MOBILE VERSION */
    .aboutm{
        padding:16px;
        font-family:'Raleway';
    }



  .neomobile{
      width:300px;
      margin-top:200px;
      margin-left:10px;
  }

  .tiffincafmobile{
        width:300px;
      margin-top:20px;
      margin-left:10px;
  }

  .greymobilefooter{
      width:100%;
      height:1000px;
      background-color:#EDEDED;
      position:absolute;
  }

  .workHeadermobile{
      font-family:'Raleway','Lato','Helvetica';
      font-size:16px;
      color:black;
      position:absolute;
      font-weight:400;
      margin-top:120px;
      margin-left:70px;
  }

  .mailmobile {
      width:100px;
      margin-left:25px;
      margin-top:50px;
  }

  .linkedinmobile{
      width:100px;
      margin-top:50px;
  }

  .behancemobile{
      width:100px;
      margin-top:50px;
  }

  .mobilefoot{
      font-family:'Raleway';
      font-weight:200px;
      color:lightslategray;
      margin-top:50px;
    font-size:14px;
  }
 
  .mediumm{
    width:70px;
}

.linkedinm{
    width:70px;

}

.mailm{
    width:70px;
    
}

.footer-copyrightm{
    opacity:0.7;
    font-size:14px;
    padding:40px;
    margin-top:100px;
}

.behancem{
    width:70px;
    
}

.footertxtm{
    padding-bottom:30px;
    color:grey;
}

.getintouch{
    font-family:'Sybarite';
    letter-spacing: 5px;
   margin-top:100px;
   margin-left:200px;
   font-style:italic;
   opacity:0.8;
}

.social {
    list-style: none;
 
}

.social img{
    width:70px;
    opacity:0.7;
    margin-left:50px;
}
  

.menuContent a{
    color:white;
    text-decoration:none;
}

.menuContent img{
    width:40px;
    transition:0.4s ease-in-out;
}

.menuContent img:hover{
   width:45px;
}

a{
    text-decoration:none;
    color:black;
}

a:hover{
            text-decoration:none;
        color:black;
    }
