*{
    font-family:'Raleway','Lato','Helvetica';
    margin:0px;
    padding:0px; 

}

section{
    padding: 50px;

}
.mail{
    width:70px;
}

::-webkit-scrollbar {
    
    width:0;
}

nav a{
    transition: 0.4s ease-in-out
}
nav a:hover{
    font-size:18px;
    text-
}


#scrollPath {
    
    position:fixed;
    top:0;
    right:0;
    width:10px;
    height:100%;
    background: rgba(255,255,255,0.05);
}

#progressbar{
    position:fixed;
    top:0;
    right:0;
    width:10px;
    height:100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    animation:animate 4s linear infinite;
}

@keyframes animate{

    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter:hue-rotate(360deg);
    }
}

#progressbar:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter:blur(10px);

}
#progressbar:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter:blur(30px);

}



.linkedin{
    width:70px;
}

.behance{
    width:70px;
}

.medium{
    width:70px;
}

.footer-copyright{
    
    color:grey;
}

.nav-item{
    padding-right:70px;
}



.page-footer{
    background-color: #E9ECEF;
    padding:50px;
    margin-top:100px;
}



.footertxt{
    color:Grey;
}

.intro{
    text-align:center;
    padding-top:200px;
    font-size:30px;
    font-family:'Lato';
    font-weight:400;
    padding-left:160px;
    transition: opacity 3s ease-in-out, transform 3s ease-in-out;

   
}
.intro:hover{
    font-size:32px;
    margin-top:-1px;
}


.introtxt{
    text-align:center;
    font-size:26px;
    font-weight:300;
    padding-left:160px;
    padding-right:250px;
    font-family:'Lato';
    padding-bottom:40px;
   
}

.tinynav0{
    font-size:11px;
    font-weight:700px;
    padding:10px;
    text-decoration:underline;
    margin-left:220px;
}

.tinynav1{
    font-size:11px;
    font-weight:700px;
    padding:10px;
}
.tinynav2{
    font-size:11px;
    font-weight:700px;
    padding:10px;
}
.tinynav3{
    font-size:11px;
    font-weight:700px;
    padding:10px;
}
.tinynav4{
    font-size:11px;
    font-weight:700px;
    padding:10px;
}

.masthead-brand{
    margin-right:780px;
    flex-wrap: nowrap;
    font-family:'Raleway','Lato','Helvetica';
    font-size:20px;
    margin-top:10px;
}

.masthead-brand a{
    color:black;
    text-decoration:none;
}
.hi{
    padding-top:150px;
    padding-bottom:150px;
    width:600px;
    opacity:0.8;
    transition:0.5s ease-in-out;
  
}

.hi:hover{
    width:620px;
    opacity:1;
    padding-top:140px;
}




.btn{
    font-style:8px;
    display: inline-block;
    padding:17px;
    margin-left:-595px;
    margin-top:290px;
    background: rgb(173,83,137);
    background: linear-gradient(90deg, rgba(173,83,137,1) 0%, rgba(62,17,84,1) 100%);
    color:white;
   
    font-family:'Raleway';
    letter-spacing: 1px;
    position:relative;
    display:inline-block;
    border-radius:40px;
    border: black 0px;
    overflow:hidden;
    text-decoration:none;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.btn:hover{
  

    color:white;
    box-shadow: 8px 8px black;
    opacity:0.8;
    
}




span{
    position:absolute;
    transform: translate(-50%, -50%);
    pointer-events:none;
    border-radius:50%;
    animation:animate 1s linear infinite;
}

@keyframes animate{
    0%
    {
        width:0px;
        height:0px;
    }
    100%
    {
        width:50px;
        height:50px;
    }
}

/* FROM YOUTUBE TUTORIAL */
html,body{
    margin: 0;
    padding: 0;
}

ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
    font-size:14px;
    transition: 0.8s ease-in-out;
}

ul.filters > li{
    list-style: none;
    display: inline-block;
    transition: 0.8s ease-in-out;
}

ul.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
    transition: 0.8s ease-in-out;
}

ul.filters > li > a:hover{
    
    font-size:18px;
    font-weight:700;
}

ul.filters > li.active > a{
    color:black;
    font-weight:bold;
    text-decoration:underline;
   
}

.card{
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.card-head{
    position: relative;
    overflow: hidden;
}



.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity:0.8;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover p{
    font-size:14px;
}

.card-hover h4{
    font-size:20px;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.title{
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-btn{
    margin-bottom: -40px;
    font-size: 0.9rem;
    background-color: #fff;
    color: #222;
    border: 1px solid #eee;
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.card-btn:hover{
    background-color: #28bea8;
    color: #fff;
}


/* MOBILE */

.himob{
    width:450px;
    margin-top:100px;
}

.mobintro{
    margin-top:100px;
    font-family:'Raleway','Lato';
  
    font-size:30px;
   
    font-weight:200;
}

.mobintro2{
   
    margin-top:30px;
   
}
.btn1{
    align-self:center;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    border:1px white;
    margin-top:20px;
    background-color:#D8D8FD;
    border-radius:25px;
    box-shadow: 5px 5px grey;
}

.container1{
    margin-top:100px;
}

.mediumm{
    width:70px;
}

.linkedinm{
    width:70px;

}

.mailm{
    width:70px;
    
}

.footer-copyrightm{
    opacity:0.7;
    font-size:14px;
    padding:40px;
    margin-top:100px;
}

.behancem{
    width:70px;
    
}

.footertxtm{
    padding-bottom:30px;
    color:grey;
}