body{
    overflow-x: hidden;
    margin-top:150px;
   

}

.nav-item{
    padding-right:70px;
}

/* HEADER SECTION */

.projectHeader{
    font-family:'Baskerville','Vidaloka','Georgia';
    font-weight:500;
    font-size:90px;
}

.projectDescription {
    font-family:'Raleway';
    font-size:20px;
    text-align:left;
   color: #7777;

}

.timeline{
    font-family:'Raleway';
    font-size:16px;
    text-align:left;
    opacity:0.7;
    margin-top:88px;

}

.timelinetxt{
    font-family:'Raleway';
    font-size:20px;
    text-align:left;
    margin-top:-15px;
  

}

.role{
    font-family:'Raleway';
    font-size:16px;
    text-align:left;
    opacity:0.7;

}

.roletxt{
    font-family:'Raleway';
    font-size:20px;
    text-align:left;
    margin-top:-15px;
  

}

.projectdeets{
    margin-top:60px;
}


/* IMAGE */

.tiffin1{
    width:400px;
    box-shadow: 7px 7px 10px grey;
    margin-top:60px;
    margin-left:100px;
}

.tiffin2{
    width:350px;
    box-shadow: 7px 7px 10px grey;
    margin-top:60px;
}


/* QUOTE SECTION*/

.quotesection{
    width: 100%;
    height:500px;
    background: rgb(68,160,141);
    background: linear-gradient(90deg, rgba(68,160,141,1) 0%, rgba(29,90,84,1) 100%, rgba(9,54,55,1) 100%);
    margin-right:-20px;
}

.quote{
    font-family:'Lato','Georgia';
    color:white;

    font-size:24px;
    font-weight:200;
    text-align:center;
    padding:100px;
    font-style: italic;
    margin-top:80px;
}



/* PROJECT SUMMARY*/

.projectsummary {
    background: rgb(250,242,204);
background: linear-gradient(90deg, rgba(250,242,204,0.788953081232493) 0%, rgba(215,250,249,0.9150035014005602) 83%);
    height:350px;
    padding-left:100px;
    padding-right:100px;
    padding-top:50px;
    margin-top:80px;
  
}      

.problemhead{
    font-family:'Raleway','Lato','Helvetica';
    font-size:22px;
    margin-top:-30px;
   

}
.problemtxt{
    font-family:'Raleway','Lato','Helvetica';
    font-size:20px;
    
}
.goalhead{
    font-family:'Raleway','Lato','Helvetica';
    font-size:22px;
    margin-top:-30px;
   
}
.goaltxt{
    font-family:'Raleway','Lato','Helvetica';
    font-size:20px;
    
}
.solutionhead{
    font-family:'Raleway','Lato','Helvetica';
    font-size:22px;
    margin-top:-30px;

}
.solutiontxt{
    font-family:'Raleway','Lato','Helvetica';
    font-size:20px;
    
}

.problem1{
    width:20px;
    margin-left:120px;
    margin-top:30px;
}

.problem {
    width:30px;
    margin-left:115px;
    margin-top:30px;
}

.problem2 {
    width:30px;
    margin-left:70px;
    margin-top:30px;
}



/* MAIN FEATURES, FIRST SCREEN SHOT */

.background1 {
    background-color:white;
    width:100%;
    height:700px;
}

.mainFeaturesHeader{
    font-family:'Baskerville','Vidaloka','Georgia';
    font-size:80px;
    margin-top:90px;
    font-style:italic;
    margin-left:105px;
  

}

.onboarding{
    width:500px;
    margin-top:230px;
    margin-left:-50px;
 
}

.mainFeaturestxt{
    font-family:'Raleway','Lato','Helvetica';
    font-size:20px;
    padding-left:100px;
    padding-right:100px;
    
}

.mainFeatures1{
    font-family:'Raleway','Lato';
    font-weight:500;
    font-size:22px;
    padding-top:100px;
    padding-left:100px;
    padding-right:100px;
    margin-top:-10px;
}


/* MAIN FEATURES 2 - SEE WHAT YOUR FRIENDS ARE INTO*/

.background2 {
    background: rgb(215,250,249);
background: linear-gradient(90deg, rgba(215,250,249,0.9150035014005602) 6%, rgba(204,215,250,0.9570203081232493) 68%);
    width:100%;
    height:700px;

}

.mainFeaturesHeader2{
    font-family:'Baskerville','Vidaloka','Georgia';
    font-size:90px;
    margin-top:-400px;
    font-style:italic;
    margin-left:30px;

}

.friends{
    width:600px;
    margin-top:130px;
    margin-left:40px;
   


}

.mainFeaturestxt2{
    font-family:'Raleway','Lato','Helvetica';
    font-size:20px;
    padding-left:100px;
    padding-right:50px;
    
}

.mainFeatures2{
    font-family:'Raleway','Lato';
    font-weight:500;
    font-size:22px;
    padding-top:100px;
    padding-left:100px;
    padding-right:50px;
    margin-top:150px;
}


/* MAIN FEATURES 3 - MENU FILTER */
.background3 {
    background-color:white;
    width:100%;
    height:700px;

}

.mainFeaturesHeader3{
    font-family:'Baskerville','Vidaloka','Georgia';
    font-size:90px;
    margin-top:-400px;
    font-style:italic;
    margin-left:30px;

}

.menu{
    width:400px;
    margin-top:200px;
    margin-left:40px;
  

}

.mainFeaturestxt3{
    font-family:'Raleway','Lato','Helvetica';
    font-size:20px;
    padding-left:100px;
    padding-right:50px;
    
}

.mainFeatures3{
    font-family:'Raleway','Lato';
    font-weight:500;
    font-size:22px;
    padding-top:100px;
    padding-left:100px;
    padding-right:50px;
    margin-top:150px;
}


/* MAIN FEATURES 4 - REVIEW*/
.background4 {
background-color:white;
width:100%;
height:700px;

}

.mainFeaturesHeader4{
font-family:'Baskerville','Vidaloka','Georgia';
font-size:90px;
margin-top:-490px;
font-style:italic;
margin-left:30px;

}

.review{
width:300px;
margin-top:140px;
margin-left:40px;
box-shadow: 10px 13px 6px lightgray ;
border-radius: 15px;


}

.mainFeaturestxt4{
font-family:'Raleway','Lato','Helvetica';
font-size:20px;
padding-left:100px;
padding-right:50px;

}

.mainFeatures4{
font-family:'Raleway','Lato';
font-weight:500;
font-size:22px;
padding-top:100px;
padding-left:100px;
padding-right:50px;
margin-top:120px;
}


/* MAIN FEATURES NEW - RELIABLE STATIC MENU */
.backgroundNEW { 

     background-color: #CFE2E3;
    
}

.mainFeaturesNEW{
font-family:'Raleway','Lato';
font-weight:500;
font-size:22px;
padding-top:100px;
padding-left:100px;
padding-right:50px;
margin-top:50px;
  
}

.mainFeaturestxtNEW{
    font-family:'Raleway','Lato','Helvetica';
    font-size:20px;
    padding-left:100px;
    padding-right:50px;
}

.staticMenu{
    width:900px;
    margin-top:350px;
    margin-left:-563px;
    box-shadow: 5px 5px 6px grey ;
}

/* MAIN FEATURES 5 - CUSTOM LISTS*/

.background5 {
background: rgb(250,242,204);
background: linear-gradient(90deg, rgba(250,242,204,0.788953081232493) 0%, rgba(215,250,249,0.9150035014005602) 83%);
width:100%;
height:700px;




}

.mainFeaturesHeader5{
font-family:'Baskerville','Vidaloka','Georgia';
font-size:90px;
margin-top:-400px;
font-style:italic;
margin-left:30px;

}

.customlist{
width:700px;
margin-top:80px;
margin-left:-70px;



}

.mainFeaturestxt5{
font-family:'Raleway','Lato','Helvetica';
font-size:20px;
padding-left:100px;
padding-right:50px;

}

.mainFeatures5{
font-family:'Raleway','Lato';
font-weight:500;
font-size:22px;
padding-top:100px;
padding-left:100px;
padding-right:50px;
margin-top:150px;
}

.seperate{
width:100%;

}


/* THE PROCESS*/

.processHeader{
font-family:'Baskerville','Vidaloka','Georgia';
font-size:90px;
font-style:italic;
margin-top:0px;
}


.processDescription{
font-family:'Baskerville','Vidaloka','Georgia';
font-size:30px;
font-style:italic;

}

.discovery{
margin-top:90px;
font-family:'Raleway','Lato','Helvetica';
font-size:16px;
background-color:lightsteelblue;
}

.discoverytxt{
font-size:12px;

font-family:'Raleway','Lato','Helvetica';

}

.defining{
margin-top:90px;
font-family:'Raleway','Lato','Helvetica';
font-size:16px;
background: rgb(252,188,69);
background: linear-gradient(90deg, rgba(252,188,69,1) 0%, rgba(251,154,121,1) 100%);
}

.definingtxt{
font-size:12px;
font-family:'Raleway','Lato','Helvetica';

}

.ideating{
margin-top:90px;
font-family:'Raleway','Lato','Helvetica';
font-size:16px;
background-color:plum;
}

.ideatingtxt{
font-size:12px;
font-family:'Raleway','Lato','Helvetica';

}

.prototyping{
margin-top:90px;
font-family:'Raleway','Lato','Helvetica';
font-size:16px;
background-color:silver;
}

.prototypingtxt{
font-size:12px;

font-family:'Raleway','Lato','Helvetica';
}

.testing{
margin-top:90px;
font-family:'Raleway','Lato','Helvetica';
font-size:16px;
background: rgb(184,108,204);
background: linear-gradient(90deg, rgba(184,108,204,1) 0%, rgba(233,94,140,1) 100%);
}

.testingtxt{
font-size:12px;

font-family:'Raleway','Lato','Helvetica';
}

.visuals{
margin-top:90px;
font-family:'Raleway','Lato','Helvetica';
font-size:16px;
background: rgb(211,204,227);
background: linear-gradient(90deg, rgba(211,204,227,1) 0%, rgba(233,228,240,1) 100%);
}

.visualstxt{
font-size:12px;

font-family:'Raleway','Lato','Helvetica';
}


/* DISCOVERY*/

.backgroundDiscovery{
width:100%;
height:3150px;
background-color:lightsteelblue;
}

.discoverySubSubHead{
font-family:'Baskerville','Vidaloka','Georgia';
font-size:30px;
font-style:italic;
margin-left:5px;
margin-top:5px;

}


.discoveryHeader {
font-family:'Baskerville','Vidaloka','Georgia';
font-size:90px;
margin-top:80px;

}

.card{
width:230px;
border-radius:15px;
margin-top:100px;
box-shadow: 10px 13px #eff0f2 ;
}

.card-img-top{
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.discoverySubHead {
margin-top:100px;
font-size:22px;
font-family:'Raleway', 'Helvetica';

}

.discoverytxtt {
font-size:20px;
font-family:'Raleway', 'Helvetica';
}

.card-body-hi{
padding:20px;
font-family:'Raleway','Lato','Helvetica';
}
/* DESK RESEARCH*/

.deskResearch{
    margin-top:200px;
    font-size:22px;
    font-family:'Raleway', 'Helvetica';

}

.deskResearchtxt{
    font-size:20px;
    font-family:'Raleway', 'Helvetica';
}


.nosscreen2{
    width:400px;
    border-radius: 15px;
    margin-top:50px;
    box-shadow: 10px 13px 6px grey ;
}

.nosscreen1 {
    width:200px;
    border-radius:15px;
    margin-top:-120px;
    box-shadow: 10px 13px 6px grey ;

}

.logo{
    margin-left:-50px;
    margin-top:30px;
}

.compHeader{
    margin-top:155px;
    font-size:22px;
    font-family:'Raleway', 'Helvetica';
}

.compsqtx{
    font-size:20px;
    font-family:'Raleway', 'Helvetica';
}

.card-text {
    font-size:16px;
    font-family:'Raleway', 'Helvetica';
}

.card-title {
    font-size:16px;
    font-family:'Raleway', 'Helvetica';
}

.oppor img{
    width:35px;
    margin-left:0px;
    margin-top:0px;
}



.strength img{
    width:30px;
    margin-left:0px;
    margin-top:0px;
}


.weak img{
    width:30px;
    margin-left:0px;
    margin-top:0px;
}

.threat img{
    width:25px;
    margin-left:0px;
    margin-top:0px;
}

.compSq2{
    margin-top:180px;
    margin-left:100px;
    margin-right:100px;
}

.netflixtxt{
    margin-top:50px;
    font-family:'Raleway','Lato','Helvetica';
    font-size:20px;
    margin-left:70px;
}

.hbotxt{
    margin-top:50px;
    font-family:'Raleway','Lato','Helvetica';
    font-size:20px;
    margin-left:95px;
}

.hbosmtxt{

    font-family:'Raleway','Lato','Helvetica';
    font-size:16px;
    margin-left:95px;
}


.netflixsmtxt{

    font-family:'Raleway','Lato','Helvetica';
    font-size:16px;
    margin-left:72px;
}

.card-body{
    background-color:lightsteelblue;
    border-radius:15px;
    margin-top:-20px;
}

/* DEFINING*/

.backgroundDefining {
background: rgb(252,188,69);
background: linear-gradient(90deg, rgba(252,188,69,1) 0%, rgba(251,154,121,1) 100%);
width: 100%;
height:2200px;
margin-right:-50px;
margin-top:70px;




}

.definingHeader {
font-family:'Baskerville','Vidaloka','Georgia';
font-size:90px;
margin-top:90px;
margin-left:46px;
margin-bottom:40px;

}

.definingSubHeader {
font-family:'Baskerville','Vidaloka','Georgia';
font-size:30px;
font-style:italic;
margin-left:-310px;
margin-top:200px;

}

.affinity {
width:300px;
height:250px;
border-radius:15px;
align-self: center;
}

.userpersona {
width:478px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.card-body-user {
padding:20px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
font-family:'Raleway';
margin-top:20px;


}

.card-body-user-pedro{
padding:20px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
font-family:'Raleway';


}

.cuteline{
margin-top:-19px;
}

.userjourneys{
width:479px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;

}

.userjourneyheader{
margin-top:-20px;
}


.userstories{
width:449px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.cuteline2{
margin-top:-32px;
}


.fourcardsuser {
margin-top:140px;
}

.usertesting{
width:479px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.howmightwe{
width:479px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
margin-top:20px;
}

.card-body-user-hmw{
padding:20px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
font-family:'Raleway';
}

.card-body-user-hmw{
margin-top:40px;
}


/* IDEATE */


.backgroundideating {
width:100%;
height:1600px;
margin-top:210px;
background-color:plum;
}

.ideateHeader{
font-family:'Baskerville','Vidaloka','Georgia';
font-size:90px;
margin-left:120px;
padding-top:90px;
}

.ideateSubHeader{
font-family:'Baskerville','Vidaloka','Georgia';
font-size:30px;
font-style:italic;
margin-top:5px;
margin-left:190px;
opacity:0.8;



}

.ideateSubHead{

margin-top:80px;
font-size:22px;
font-family:'Raleway', 'Helvetica';
margin-left:40px;
opacity:0.5;
}

.postits {
width:700px;
margin-left:-40px;
margin-top:-70px;
}

.postitsyellow{
margin-top:-50px;
}

.moscow {
margin-top:80px;
font-size:22px;
font-family:'Raleway', 'Helvetica';
margin-left:140px;
opacity:0.5;

}

.moscowimg {
width:500px;
margin-left:80px;
margin-top:-40px;
}


/* PROTOTYPING */

.backgroundprototyping {

background-color:#E5E6EB;
width:100%;
height:3500px;
margin-top:80px;
}
.cutecuteline{
margin-top:25px;
}

.prototypingHeader {
font-family:'Baskerville','Vidaloka','Georgia';
font-size:90px;
padding-top:80px;
padding-left:120px;
}

.lowfiHeader{
margin-top:-275px;
font-size:22px;
font-family:'Raleway', 'Helvetica';
margin-left:50px;
opacity:0.5;
background-color:#E5E6EB;
}

.lowfidescription {
font-size:20px;
font-family:'Raleway', 'Helvetica';
margin-left:80px;
background-color:#E5E6EB;
}

.lowfimob {
margin-left:35px;
border-radius: 20px;
width:550px;
margin-top:100px;

}

.lowfitxt1{
margin-top:150px;
font-family:'Raleway','Lato','Helvetica';
font-size:20px;
margin-left:40px;

}

.lowfimob2{
width:600px;
margin-top:100px;
}

.midfimobile1 {
margin-top:20px;
font-family:'Raleway','Lato','Helvetica';
font-size:20px;
margin-left:50px;
width:650px;
}

.midfimobile2{
margin-top:-5px;
font-family:'Raleway','Lato','Helvetica';
font-size:20px;
margin-left:50px;
width:650px;
}

.midfiHeader{
margin-top:80px;
font-size:22px;
font-family:'Raleway', 'Helvetica';
margin-left:50px;
opacity:0.5;

}

.midfitxt1 {
margin-top:140px;
font-family:'Raleway','Lato','Helvetica';
font-size:20px;
margin-left:100px;
line-height:1.5;
}

a:hover {
color:pink;
text-decoration:none;
}

a{text-decoration:none;
color: magenta;
}

.midfimobile3{
width:600px;
margin-top:10px;
margin-left:0;
}

.midfimob5 {
width:900px;
margin-top:10px;
margin-left:-292px;
}

.midfiversion5Header{
font-family:'Raleway','Lato','Helvetica';
font-size:16px;
margin-left:7px;
margin-top:100px;
font-style:italic;
opacity:0.5;
}

.midfiversion5Header2{
font-family:'Raleway','Lato','Helvetica';
font-size:20px;
margin-left:7px;
margin-top:-230px;

}

.desktoplowfi{
width:360px;
border-radius:15px;
padding:30px;
}
.card-body-user-lowfi{
padding:20px;
font-family:'Raleway','Lato','Helvetica';

}

.desktopmidfi1{
width:348px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;

}

.card-body-user-desktopmidfi{
font-family:'Raleway','Lato','Helvetica';
padding:20px;
}

.card-body-user-midfi{
font-family:'Raleway','Lato','Helvetica';
padding:20px;
}
.desktoplowfi3{
width:347px;
height:247px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;

}

.hifiHeader{
font-family:'Raleway','Lato','Helvetica';
padding:20px;
margin-left:65px;
margin-top:100px;
}

.nosmobileproto{
border-radius:15px;
box-shadow: 5px 5px 20px grey ;
}

.nosdesktoproto{

border-radius:15px;
box-shadow: 5px 5px 20px grey ;
}

.tip{
font-family:'Raleway','Lato','Helvetica'

}

.backgroundtesting{
width:100%;
height:900px;
background: rgb(198,66,110);
background: linear-gradient(90deg, rgba(198,66,110,1) 0%, rgba(100,43,115,1) 100%); 
}

.testingHeader{
font-family:'Baskerville','Vidaloka','Georgia';
font-size:90px;
padding-top:100px;
padding-left:100px;


}

.heatmap {
width:420px;
border-radius:15px;
margin-left:300px;
box-shadow: 5px 5px 20px #444444 ;
margin-top:-90px;
}

.heatmap2 {
width:200px;
border-radius:15px;
margin-left:-250px;
margin-top:25px;
box-shadow: 5px 5px 20px #444444 ;

}

.testtxt{
font-family:'Raleway','Lato','Helvetica';
font-size:20px;
margin-left:20px;
margin-top:20px;
width:400px;

}

/* BACKGROUND VISUALS*/

.backgroundvisuals{
width:100%;
height:700px;
background: rgb(211,204,227);
background: linear-gradient(90deg, rgba(211,204,227,1) 0%, rgba(233,228,240,1) 100%);
margin-top:150px;
}

.visualss{
font-family:'Baskerville','Vidaloka','Georgia';
font-size:90px;
margin-top:200;
padding-top:100px;
margin-left:80px; 

}

.presentation{
font-family:'Raleway','Lato','Helvetica';
padding:20px;
margin-left:65px;
margin-top:1px;

}

.container iframe{
border: 0px solid #000;
                -moz-border-radius: 15px;
                border-radius: 15px; 
}

.endHeader{
font-family:'Baskerville','Vidaloka','Georgia';
font-size:20px;
align-self:center;
color:grey;
}

/* grey gradient*/

.greygradient {

width: 100%;
height:300px;
margin-top:0px;
position:absolute;
}





.footh{
font-size:24px;
color:grey;
font-family:'Raleway';
margin-left:120px;
position:absolute;
margin-top:60px;


}

.neohead{
font-size:24px;
color:grey;
font-family:'Raleway';
margin-left:110px;
margin-top:-500px;
position:absolute;
}

.mail {
    width:70px;
    margin-left:24px;
    margin-top:130px;
    position:absolute;
}

.linkedin {
    width:70px;
    margin-left:24px;
    margin-top:130px;
    position:absolute;
}

.behance {
    width:70px;
    margin-left:24px;
    margin-top:130px;
    position:absolute;
}


.copyright{
   
   
    font-family:'Raleway';
    position:absolute;
    margin-top:260px;
    color:lightslategray;
    float:left;
    margin-left:125px;

}


/* MOBILE VERSION*/

.projectHeadermobile{
    text-align:center;
    font-family:'Baskerville','Vidaloka','Georgia';
    font-size:70px;
}

.projectdeetsmobile{
    padding:30px;
    font-family:'Raleway','Lato','Helvetica';
    font-size:18px;
    margin-top:-100px;

}

.nosplaymobile{
    width:550px;
    margin-left:-50px;
 
}

.projectDescriptionmobile{
    padding:30px;
    font-family:'Raleway','Lato','Helvetica';
    font-size:18px;
}


.projectsummarymobile{
    height:700px;
    padding:30px;
    background: rgb(150,201,61);
    background: linear-gradient(90deg, rgba(150,201,61,1) 0%, rgba(0,176,155,1) 100%);
    font-size:18px;
    
}

.problemheadmobile{
    font-size:18px;
    font-family:'Raleway','Lato','Helvetica';


}
.problemtxtmobile{
    font-size:18px;
    font-family:'Raleway','Lato','Helvetica';


}

.problemmob{
    width:30px;
    margin-top:20px;

}

.problem2mob{

    width:30px;
    margin-top:20px;
}

.problem1mob{
    width:20px;
    margin-top:20px;

}


.goalheadmobile{
    font-size:18px;
    font-family:'Raleway','Lato','Helvetica';

}

.goaltxtmobile{
    font-size:18px;
    font-family:'Raleway','Lato','Helvetica';

}

.onboardingmob{
padding-top:400px;
position:absolute;
width:500px;
}

.mainFeaturesHeadermob{
font-size:50px;
margin-top:100px;
font-family:'Baskerville','Vidaloka','Georiga';
padding:20px;
}



.mainFeatures1mob{
font-family:'Raleway','Lato','Helvetica';
margin-top:20px;
font-size:20px;
padding:20px;
}

.mainFeaturestxtm{
font-family:'Raleway','Lato','Helvetica';
font-size:18px;
padding:20px;
margin-top:-30px;
}

.mainFeatures2mob{
font-family:'Raleway','Lato','Helvetica';
margin-top:50px;
font-size:20px;
padding:20px;
}

.mainFeaturestxt2mob{
font-family:'Raleway','Lato','Helvetica';
font-size:18px;
padding:20px;

}

.friendsmob{
width:500px;
margin-top:2px;
}

.mainFeaturesHeadermob{
font-family:'Raleway','Lato','Helvetica';
margin-top:50px;
font-size:20px;
padding:20px;
}

.reviewmob{
width:300px;
border-radius:15px;
box-shadow: 5px 5px lightgrey;
margin:20px;

}

.mainFeatures4mob{
font-family:'Raleway','Lato','Helvetica';
margin-top:20px;
font-size:20px;
padding:20px;
}

.mainFeaturestxt4mob{
font-family:'Raleway','Lato','Helvetica';
font-size:18px;
padding:20px;
}

.background5mob{

height:700px;
margin-top:850px;
background: rgb(250,242,204);
background: linear-gradient(90deg, rgba(250,242,204,0.788953081232493) 0%, rgba(215,250,249,0.9150035014005602) 83%);
width:100%;
}

.mainFeatures5mob{
font-family:'Raleway','Lato','Helvetica';
margin-top:50px;
font-size:20px;
padding:20px;
}
.mainFeaturestxt5mob{
font-family:'Raleway','Lato','Helvetica';
font-size:18px;
padding:20px;
}

.customlistmob{
width:450px;
margin:20px;
}

.mainFeatures3mob{
font-family:'Raleway','Lato','Helvetica';
margin-top:50px;
font-size:20px;
padding:20px;
}

.mainFeaturestxt3mob{
font-family:'Raleway','Lato','Helvetica';
font-size:18px;
padding:20px;
}

.menumob{
width:400px;
margin:20px;
}

.background3mob{

height:800px;
}

.backgroundNEWmob{
height:330px;
background-color:#CFE2E3;

}

.mainFeaturesNEWmob{
font-family:'Raleway','Lato','Helvetica';
margin-top:50px;
font-size:20px;
padding:20px;
}

.mainFeaturestxtNEWmob{
font-family:'Raleway','Lato','Helvetica';
font-size:18px;
padding:20px;
}

.staticMenumob{
width:400px;
margin:20px;

}

.toread{
font-family:'Raleway','Lato','Helvetica';
font-size:20px;
padding:20px;
text-align:center;
}
